<div class="ddd-area">

<div class="toolbar"></div>
<div class="workspace" #workspace>
  <div class="canvas-container"
       #canvasContainer
       (mousedown)="initDraw($event)">
    <div class="guide-container" #guideContainer>
    </div>
    <div class="draw-preview"></div>
    <ng-container *ngFor="let item of allLegoConfig;">
      <div
        #lego
        [class.select]="selectedLego.includes(lego)"
        class="lego-item"
        [style.width.px]="item.width"
        [style.height.px]="item.height"
        [style.left.px]="item.x"
        [style.top.px]="item.y"
      >
        <div class="resize-handler left" (mousedown)="resize($event,'left', item)"></div>
        <div class="resize-handler top" (mousedown)="resize($event, 'top',item)"></div>
        <div class="resize-handler right" (mousedown)="resize($event,'right', item)"></div>
        <div class="resize-handler bottom" (mousedown)="resize($event, 'bottom', item)"></div>

        <div class="resize-handler left-top"
             (mousedown)="resize($event,'left', item) || resize($event, 'top',item)"></div>
        <div class="resize-handler right-top"
             (mousedown)="resize($event,'right', item) || resize($event, 'top',item)"></div>
        <div class="resize-handler left-bottom"
             (mousedown)="resize($event,'left', item) || resize($event, 'bottom', item)"></div>
        <div class="resize-handler right-bottom"
             (mousedown)="resize($event,'right', item) || resize($event, 'bottom', item)"></div>


        <div class="lego-container" (mousedown)="selectLego($event, item, lego)">
          <ng-template *ngIf="template" [ngTemplateOutlet]="template"></ng-template>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="sidebar"></div>
</div>
